/* Inputs CSS Start Here */

.input {
  border-radius: 30px;
  border: 1px solid #ccc;
  color: var(--headings-color);
  font-size: 2rem;
  outline: 0;
  padding: 1rem 2rem;
  min-width: 3rem;
}

::placeholder {
  color: #ccc;
}

.input-group {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  display: flex;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
}

.input-group button {
  margin: 0.1rem;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.6rem;
  }
}

/* Inputs CSS Ends Here */
