@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css');

:root {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-accent: #ff4444;

  --color-primary-light: #93c5fd;
  --color-secondary-light: #6ee7b7;
  --color-accent-light: #fca5a5;

  --color-headings: #313131;
  --color-body: #323232;

  --color-light-grey: #f8f9fa;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--color-body);
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headings);
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 2.4rem;
  font-weight: 700;
}

h6 {
  font-size: 1.5rem;
}

/* Paragraph */

p {
  color: var(--color-body);
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Links */

a {
  text-decoration: none;
  display: inline-block;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: '->';
  margin-left: 3px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 6px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  white-space: nowrap;
}

.badge--primary {
  color: #fff;
  background-color: var(--color-primary);
}

.badge--secondary {
  color: #fff;
  background-color: var(--color-secondary);
}

.badge--accent {
  color: #fff;
  background-color: var(--color-accent);
}

.badge--small {
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* List */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(./images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */

/* above define is default icon size */

.icon {
  width: 40px;
  height: 40px;
  fill: none;
}

.icon--small {
  width: 20px;
  height: 20px;
}

.icon--medium {
  width: 40px;
  height: 40px;
}

.icon--large {
  width: 64px;
  height: 64px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
}

.icon--accent {
  fill: var(--color-accent);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--white {
  background-color: #fff;
}

/* Button */

.btn {
  border: 0;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1.5rem 3rem;
  white-space: nowrap;
  text-align: center;
}

.btn--round {
  border-radius: 35px;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--primary {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  border: 1px solid var(--color-primary-light);
  background-color: var(--color-primary-light);
  color: #fff;
}

.btn--secondary {
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background-color: var(--color-secondary-light);
  color: #fff;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--accent {
  background-color: var(--color-accent-light);
  color: #fff;
}

.btn-outline {
  background-color: #fff;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-outline:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #fff;
}

.btn-outline--primary {
  background-color: #fff;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-outline--primary:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #fff;
}

.btn--icon {
  width: 20px;
  height: 20px;
}

.btn--float-right {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.btn--float-left {
  position: fixed;
  left: 5%;
  bottom: 5%;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Input */

.input {
  border: 1px solid var(--color-light-grey);
  outline: 0;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border-radius: 30px;
  color: var(--color-headings);
}

input::placeholder {
  color: var(--color-light-grey);
}

.input-group {
  border: 1px solid var(--color-light-grey);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.input-group .btn {
  margin: 2px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Image */

.img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.img2 {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.img--small {
  max-width: 4rem;
}

.img--medium {
  max-width: 6rem;
}

.img--large {
  max-width: 8rem;
}
.img--round {
  border-radius: 50%;
}

.img--bordered {
  border: 1.5rem solid goldenrod;
}

/* cards */

.bg {
  background-color: #f7f7f7;
  padding: 3rem;
}

.card {
  position: relative;
  background-color: #fff;
  text-align: center;
  display: inline-flex;
  max-width: 300px;
  height: 515px;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.card .ellipse {
  position: absolute;
  top: 2%;
  right: 4%;
}

.card .img {
  padding: 4rem 2rem;
  background-color: var(--color-card-bg);
}

.details {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--color-headings);
}

/* collapsibles component */

.collapsible__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.collapsible__heading {
  margin-top: 0;
}

.collapsible-icon {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible-expanded .collapsible-icon {
  transform: rotate(0);
}

.collapsible-expanded .collapsible__content {
  /* display: block; */
  max-height: 100%;
  opacity: 1;
}

/* Navbar */

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--color-light-grey);
  text-align: center;
}

.nav__item > a {
  color: var(--color-headings);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #000;
  background-color: var(--color-light-grey);
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible-expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 3px #fff;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    max-height: 100%;
    opacity: 1;
    width: auto;
    display: flex;
  }
  .nav__item {
    border: 0;
  }
}
