/* Button */

.btn {
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem 2rem;
  white-space: nowrap;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-round {
  border-radius: 35px;
}

.btn-block {
  width: 100%;
  display: inline-block;
}

.btn-outline {
  border: 1px solid var(--color-body);
  color: var(--color-body);
}

.btn-outline:hover {
  background-color: var(--color-body);
  border: 1px solid var(--color-body);
  color: var(--white-color);
}

.btn-outline--primary {
  background-color: var(--white-color);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-outline--primary:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--white-color);
}

.btn-outline--secondary {
  background-color: var(--white-color);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

.btn-outline--secondary:hover {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--white-color);
}

.btn-outline--accent {
  background-color: var(--white-color);
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}

.btn-outline--accent:hover {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  color: var(--white-color);
}

.btn-primary {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--white-color);
  fill: var(--color-primary);
}

.btn-primary:hover {
  border: 1px solid var(--color-primary-light);
  background-color: var(--color-primary-light);
  color: var(--white-color);
}

.btn-secondary {
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--white-color);
}

.btn-secondary:hover {
  border: 1px solid var(--color-secondary-light);
  background-color: var(--color-secondary-light);
  color: var(--white-color);
}

.btn-accent {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  color: var(--white-color);
}

.btn-accent:hover {
  border: 1px solid var(--color-accent-light);
  background-color: var(--color-accent-light);
  color: var(--white-color);
}

.btn-grey {
  border: 1px solid var(--color-grey-dark-3);
  color: var(--white-color);
  background-color: var(--color-grey-dark-3);
}

.btn-grey:hover {
  border: 1px solid var(--color-grey-light-4);
  background-color: var(--color-grey-light-4);
}

.btn-outline--grey {
  background-color: var(--white-color);
  border: 1px solid var(--color-grey-dark-3);
  color: var(--color-grey-dark-3);
}

.btn-outline--grey:hover {
  background-color: var(--color-grey-dark-3);
  border: 1px solid var(--color-grey-dark-3);
  color: var(--white-color);
}

.btn-outline--primary {
  background-color: var(--white-color);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-outline--primary:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--white-color);
}

a.btn:hover {
  text-decoration: underline;
}

.btn-icon {
  padding: 0;
  background-color: transparent;
}

.btn-float {
  width: 60px;
  height: 60px;
  font-size: 4rem;
  border-radius: 500px;
}

.btn-float-right {
  position: fixed;
  right: 5%;
  bottom: 10%;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
