.cards {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 4rem;
  justify-content: center;
}
/* // only for displaying multiple cards on same page end */

.card {
  background-color: var(--white-color);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card__cover {
  padding: 2.5rem;
  background-color: var(--color-grey-light-4);
  position: relative;
}

.card__icon {
  position: absolute;
  top: 6%;
  right: 6%;
  cursor: pointer;
}

.card__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__content > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* card horizontal */

.d-flex {
  display: flex;
}

.d-flex-r {
  display: flex;
  flex-direction: row;
}

.d-flex-c {
  display: flex;
  flex-direction: column;
}

.card-horizontal {
  padding: 2rem;
  background-color: var(--white-color);
  width: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-horizontal__content {
  max-width: 100%;
}

.sample-card {
  box-shadow: 0 0.5rem 1rem 0 lightgray;
  cursor: pointer;
  width: 35rem;
  transition: 0.3s;
  background-color: white;
}

.card__title {
  color: var(--color-headings);
  padding: 1rem 1.5rem;
}

.card__desc {
  padding: 1rem 1.5rem;
}

.card__footer {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card__icon {
  padding: 1rem;
}

.card__btn {
  background-color: white;
  border: 0;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
}

.text-over-media-position {
  position: relative;
}

.text-over-media {
  position: absolute;
  top: 40%;
}

.text-over-media > * {
  color: #fff;
}

.card__desc-hidden {
  display: none;
}

/* card - horizontal image and text CSS */

.hit-header {
  display: flex;
}

.hit-image {
  width: 12rem;
  height: 12rem;
}
