/* Image Component CSS */

.img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.img-xs {
  width: 10rem;
}

.img-sm {
  width: 20rem;
}

.img-md {
  width: 30rem;
}

.img-lg {
  width: 50rem;
}

.img-xl {
  width: 70rem;
}

.img-xxl {
  width: 90rem;
}

.img-round {
  border-radius: 50%;
}

.img-bordered {
  border: 0.5rem solid var(--color-body);
}
