/* search */

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3rem;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}

.search__input::-webkit-input-placeholder {
  color: var(--color-grey-dark-4);
}

.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}

.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  transform: translateY(2px);
}

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-4);
}

.search-s {
  max-width: 30%;
}

.search-m {
  max-width: 50%;
}

.search-l {
  max-width: 80%;
}

.search-error {
  outline: 1px solid var(--color-accent);
}

.search-success {
  outline: 1px solid var(--color-secondary);
}
