/* Hero Container */

.hero__container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.hero {
  max-width: 75rem;
}

.hero__image {
  max-width: 25rem;
  margin: 2.5rem;
}

.hero__description {
  margin: 2rem 1rem;
}

.hero-btn {
  margin: 0.3rem;
  display: inline-block;
  width: 170px;
}
