#toast {
  background-color: var(--black-color);
  border-radius: 2px;
  bottom: 30px;
  color: var(--white-color);
  left: 50%;
  margin-left: -125px;
  min-width: 250px;
  padding: 16px;
  position: fixed;
  text-align: center;
  visibility: hidden;
  z-index: 999;
}

#toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
